h1{
    color: blue;
    text-align: center;
    background-color:burlywood;
    padding: 50px;
}
label{
    color:darkblue;
    margin-left: 50px;
    
}
h4{
    color:blue;
    margin-left: 50px;
}
input{
    margin-left: 50px;
    color: crimson;
}